// compileCompressed: ../gh-pages/css/site.min.css

body
  header
    nav
      padding: 1em
      margin: 0em
      background-color: #DEDEDE
      font-family: Lato, sans-serif
      a
        margin-left: 1em
        margin-right: 1em
        .nav__logo
          font-style: italic
