//- out: gh-pages/

html(lang='en')
  head
    title Elementary
    meta(charset='UTF-8')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Lato:100italic')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Lato:100')
    link(rel='stylesheet', href='https://storage.googleapis.com/code.getmdl.io/1.0.6/material.indigo-pink.min.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
    link(rel='stylesheet', href='/css/site.min.css')
  body
    header
      nav
        a
          span.nav__logo Elementary
        a Sign Up
        a Sign In
    main
    footer
    script(type='text/javascript',src='https://storage.googleapis.com/code.getmdl.io/1.0.6/material.min.js')
