//- out: gh-pages/

html(lang='en')
  head
    title Elementary
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en')
    link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='https://storage.googleapis.com/code.getmdl.io/1.0.6/material.indigo-pink.min.css')
    link(rel='stylesheet', href='css/animate.min.css')
    link(rel='stylesheet', href='css/site.min.css')
  
  body
    .mdl-layout.mdl-js-layout
      header.mdl-layout__header.mdl-layout__header--scroll
        img.mdl-layout-icon
        .mdl-layout__header-row
          span.mdl-layout__title Elementary
          .mdl-layout-spacer
          nav.mdl-navigation
            a.mdl-navigation__link(href='#') Sign In
            a.mdl-navigation__link(href='#') Sign Up
      .mdl-layout__drawer.mdl-layout--small-screen-only
        span.mdl-layout__title Elementary
        nav.mdl-navigation
          a.mdl-navigation__link(href='#') Sign In
          a.mdl-navigation__link(href='#') Sign Up
      main.mdl-layout__content.mdl-color--grey-100 
        div 
          h1 Welcome.
          p Elementary is a simple to use note taking application.
          | We hope you enjoy using it.
          .landing__login
            .landing__singleSignOn
              button.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect('disabled'='disabled')
                i.fa.fa-twitter
                span Twitter
              button.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect('disabled'='disabled')
                i.fa.fa-google
                span Google
            
            .landing__login__tabs
              .mdl-card.mdl-shadow--4dp
                .error__message
                  span
                .landing.mdl-progress.mdl-js-progress.mdl-progress__indeterminate
                .mdl-tabs.mdl-js-tabs.mdl-js-ripple-effect
                  .mdl-tabs__tab-bar
                    a.mdl-tabs__tab.is-active(href='#signUp-panel') Sign Up
                    a.mdl-tabs__tab(href='#signIn-panel') Sign In
                  #signUp-panel.mdl-tabs__panel.is-active
                    .mdl-card__title
                      h2.mdl-card__title-text
                        a(href='#') Sign Up
                    form#signUp(method='post', action='https://elementary-server-nathanbland.c9.io/api/v1/auth/local/register')
                      .mdl-card__supporting-text
                          .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
                            input#signUp__username.mdl-textfield__input(type='text',name='username',required='required')
                            label.mdl-textfield__label(for='signUp__username') Username
                          .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
                            input#signUp__password.mdl-textfield__input(type='password',name='password',required='required')
                            label.mdl-textfield__label(for='signUp__password') Password
                          
                      .mdl-card__actions
                        button.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.mdl-button--colored(type='submit')
                          | Sign Up
                  #signIn-panel.mdl-tabs__panel
                    .mdl-card__title
                      h2.mdl-card__title-text
                        a(href='#') Sign In
                    form#signIn(method='post')
                      .mdl-card__supporting-text
                        .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
                          input#signIn__username.mdl-textfield__input(type='text',name='username',required='required')
                          label.mdl-textfield__label(for='signIn__username') Username
                        .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
                          input#signIn__password.mdl-textfield__input(type='password',name='password',required='required')
                          label.mdl-textfield__label(for='signIn__password') Password
                          
                      .mdl-card__actions
                        button.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.mdl-button--accent(type='submit')
                          | Sign In
                      
        footer.mdl-mini-footer.mdl-layout--small-screen-only
          .mdl-mini-footer__left-section
            .mdl-logo Elementary
            ul.mdl-mini-footer__link-list
              li
                a(href='#') Help (coming soon)
              li
                a(href='#') About (coming soon)
      footer.mdl-mini-footer.mdl-layout--large-screen-only
        .mdl-mini-footer__left-section
          .mdl-logo Elementary
          ul.mdl-mini-footer__link-list
            li
              a(href='#') Help (coming soon)
            li
              a(href='#') About (coming soon)
          
    
    script(src='https://storage.googleapis.com/code.getmdl.io/1.0.6/material.min.js')
    script(src='js/promise.min.js')
    script(src='js/fetch.js')
    script(src='js/runtime.js')
    script(src='js/util.js')
