.note__card.mdl-card.mdl-shadow--4dp.animated.tada
  .mdl-card__title
    h2.mdl-card__title-text= note.title
  .mdl-card__supporting-text
    p= note.content
  .mdl-card__actions.mdl-card--border
    button.edit.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect(class='#{note.alias}')
      i.material-icons edit
      | Edit
    button.delete.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect(class='#{note.alias}')
      i.material-icons delete
      | Delete
